.photos-wrapper {
  max-width: 1540px;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0 20px;
}
.photo-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.photo-img img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 654px) {
  .photos-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 15px;
    gap: 12px;
  }
    .photo-column {
    gap: 12px;
  }
}

@media (max-width: 900px) {
  .photos-wrapper {
    margin: 30px 0;
    gap: 12px;
  }
  .photo-column {
    gap: 12px;
  }
}

@media (max-width: 1600px) {
  .photos-wrapper {
    margin: 30px calc(10px + 1vw);
  }
}