.main-page-catalog{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 901px) and (max-width: 1440px) {
    .main-page-catalog {
        max-width: 1440px;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .main-page-catalog {
        padding-right: 20px;
        padding-left: 20px;
                max-width: 900px;
    }
}

@media (min-width: 0) and (max-width: 650px) {
    .main-page-catalog {
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 1600px) {
  .main-page-catalog {
    margin: 30px calc(10px + 1vw);
  }
}

.main-page-catalog_info{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 30px;

  box-sizing: border-box;
}

.main-page-catalog_info-table{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .main-page-catalog_info-table{
    flex-direction: column;
    align-items: self-start;
  }

  .main-page-catalog_info-table_end {
    width: 100%;
  }
  .main-page-catalog_info-table_end > *{
    width: 50%;
  }

  .data-users-wrapper{
    margin-bottom: 20px;
  }
}

.main-page-catalog_info-table_end{
  display: flex;
  gap: 15px;
}

#popular-container-button{
  position: relative;
}

#popular-menu{
  z-index: 15;
  width: 15vw;
  left: inherit;
  right: 0;
}