.photos-wrapper {
  max-width: 1540px;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.photo-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.photo-img img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 654px) {
  .photos-wrapper {
    gap: 12px;
  }
    .photo-column {
    gap: 12px;
  }
}

@media (max-width: 900px) {
  .photos-wrapper {
    gap: 12px;
  }
  .photo-column {
    gap: 12px;
  }
}