:root {
  --background-color: #f7f7f7;
  --menu-font-color: rgb(74, 74, 74);
  --font-color:#191919;
  --font-family: Canva Sans, Helvetica Neue, Roboto, -apple-system, blinkmacsystemfont, sans-serif;
}
